target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
.idea/
.src/main/resources/archetype-resources/
.src/main/resources/META-INF.maven/
### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/
/test_output
/allure-results
/.allure
### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/src/main/resources/archetype-resources/src/main/java/App.java
/src/main/resources/archetype-resources/src/test/java/AppTest.java
/src/main/resources/META-INF/maven/archetype.xml
/src/main/resources/archetype-resources/pom.xml

